<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.field_name') %>:</strong>
  <%= @origin_field.field_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.origin_pic') %>:</strong>
  <%= @origin_field.origin_pic %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.data_type_origin_field') %>:</strong>
  <%= @origin_field.data_type_origin_field %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.fmbase_format_type') %>:</strong>
  <%= @origin_field.fmbase_format_type %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.generic_data_type') %>:</strong>
  <%= @origin_field.generic_data_type %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.decimal_origin_field') %>:</strong>
  <%= @origin_field.decimal_origin_field %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.mask_origin_field') %>:</strong>
  <%= @origin_field.mask_origin_field %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.position_origin_field') %>:</strong>
  <%= @origin_field.position_origin_field %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.width_origin_field') %>:</strong>
  <%= @origin_field.width_origin_field %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.is_key') %>:</strong>
  <%= @origin_field.is_key %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.will_use') %>:</strong>
  <%= @origin_field.will_use %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.has_signal') %>:</strong>
  <%= @origin_field.has_signal %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.room_1_notes') %>:</strong>
  <%= @origin_field.room_1_notes %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.cd5_variable_number') %>:</strong>
  <%= @origin_field.cd5_variable_number %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.cd5_output_order') %>:</strong>
  <%= @origin_field.cd5_output_order %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.cd5_variable_name') %>:</strong>
  <%= @origin_field.cd5_variable_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.cd5_origin_format') %>:</strong>
  <%= @origin_field.cd5_origin_format %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.cd5_origin_format_desc') %>:</strong>
  <%= @origin_field.cd5_origin_format_desc %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.cd5_format') %>:</strong>
  <%= @origin_field.cd5_format %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.cd5_format_desc') %>:</strong>
  <%= @origin_field.cd5_format_desc %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.default_value') %>:</strong>
  <%= @origin_field.default_value %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin_field.room_2_notes') %>:</strong>
  <%= @origin_field.room_2_notes %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.file_name') %>:</strong>
  <%= @origin_field.origin %>
</p>

<%= link_to t('edit'), edit_origin_field_path(@origin_field) %> |
<%= link_to t('back'), origin_fields_path %>
