<p id="notice"><%= notice %></p>

<p>
  <strong>Field name,:</strong>
  <%= @origin_field.field_name %>
</p>

<p>
  <strong>Origin pic,:</strong>
  <%= @origin_field.origin_pic %>
</p>

<p>
  <strong>Data type origin field,:</strong>
  <%= @origin_field.data_type_origin_field %>
</p>

<p>
  <strong>Fmbase format type,:</strong>
  <%= @origin_field.fmbase_format_type %>
</p>

<p>
  <strong>Generic data type,:</strong>
  <%= @origin_field.generic_data_type %>
</p>

<p>
  <strong>Decimal origin field:</strong>
  <%= @origin_field.decimal_origin_field %>
</p>

<p>
  <strong>Mask origin field,:</strong>
  <%= @origin_field.mask_origin_field %>
</p>

<p>
  <strong>Position origin field:</strong>
  <%= @origin_field.position_origin_field %>
</p>

<p>
  <strong>Width origin field:</strong>
  <%= @origin_field.width_origin_field %>
</p>

<p>
  <strong>Is key,:</strong>
  <%= @origin_field.is_key %>
</p>

<p>
  <strong>Will use,:</strong>
  <%= @origin_field.will_use %>
</p>

<p>
  <strong>Has signal,:</strong>
  <%= @origin_field.has_signal %>
</p>

<p>
  <strong>Room 1 notes,:</strong>
  <%= @origin_field.room_1_notes %>
</p>

<p>
  <strong>Cd5 variable number:</strong>
  <%= @origin_field.cd5_variable_number %>
</p>

<p>
  <strong>Cd5 output order:</strong>
  <%= @origin_field.cd5_output_order %>
</p>

<p>
  <strong>Cd5 variable name,:</strong>
  <%= @origin_field.cd5_variable_name %>
</p>

<p>
  <strong>Cd5 origin format,:</strong>
  <%= @origin_field.cd5_origin_format %>
</p>

<p>
  <strong>Cd5 origin format desc,:</strong>
  <%= @origin_field.cd5_origin_format_desc %>
</p>

<p>
  <strong>Cd5 format,:</strong>
  <%= @origin_field.cd5_format %>
</p>

<p>
  <strong>Cd5 format desc,:</strong>
  <%= @origin_field.cd5_format_desc %>
</p>

<p>
  <strong>Default value,:</strong>
  <%= @origin_field.default_value %>
</p>

<p>
  <strong>Room 2 notes:</strong>
  <%= @origin_field.room_2_notes %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @origin_field.origin %>
</p>

<%= link_to 'Edit', edit_origin_field_path(@origin_field) %> |
<%= link_to 'Back', origin_fields_path %>
