<section class="main">
  <div class="row clearfix">
    <div class="col13" role="main">
      <div class="modulo">
        <section class="formulario">
          <h3 class="line-bottom">Processos</h3>
          <fieldset>
            <legend></legend>
            <%= form_tag(search_processid_path,  method: :get ) do  %>
              <div class="row clearfix">
                <div class='left t4'>
                  <%= text_field_tag 'text_param', params[:text_param] || '' %>
                </div>
                <div class="left t10">
                  <label class="custom-select"><%= select_tag "status_param", options_for_select(Constants::STATUS, params[:status_param] || nil), prompt: 'Todos' %></label>
                </div>
                <div class="left btn btn-primary">
                  <%= submit_tag "Filtrar" %>
                </div>
              </div>
            <% end %>
          </fieldset>
          <section>
            <table summary="" class="tabela-zebra tabela-hover">
              <thead>
                <tr class="txt-no-transform">
                  <th>número processo</th>
                  <th>mnemônico</td>
                  <th>nome da rotina</td>
                  <th>nome tabela var</td>
                  <th>regra de conferência</td>
                  <th>percentual de aceite</td>
                  <th>manter movimento anterior</td>
                  <th>regra de contagem</td>
                  <th>observação</td>
                  <th>status</td>
                </tr>
              </thead>
              <tbody>
                <% @processids.each do |processid| %>
                  <tr>
                    <td><%= processid.process_number %></td>
                    <td><%= processid.mnemonic %></td>
                    <td><%= processid.routine_name %></td>
                    <td><%= processid.var_table_name %></td>
                    <td><%= processid.conference_rule %></td>
                    <td><%= processid.acceptance_percent %></td>
                    <td><%= processid.keep_previous_work %></td>
                    <td><%= processid.counting_rule %></td>
                    <td><%= processid.notes %></td>
                    <td><%= processid.status %></td>
                    <td><%= link_to t('edit'), edit_processid_path(processid) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table> <!-- summary="" class="tabela-zebra tabela-hover" -->
            <div>
              <%= will_paginate @processids %>
            </div>
          </section> <!-- grid section -->
        </section> <!-- formulario -->
      </div> <!-- modulo -->
    </div> <!-- col -->
  </div> <!-- row clearfix -->
</section> <!-- main -->

