<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.processid.process_number') %>:</strong>
  <%= @processid.process_number %>
</p>

<p>
  <strong><%= t('activerecord.attributes.processid.mnemonic') %>:</strong>
  <%= @processid.mnemonic %>
</p>

<p>
  <strong><%= t('activerecord.attributes.processid.routine_name') %>:</strong>
  <%= @processid.routine_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.processid.var_table_name') %>:</strong>
  <%= @processid.var_table_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.processid.conference_rule') %>:</strong>
  <%= @processid.conference_rule %>
</p>

<p>
  <strong><%= t('activerecord.attributes.processid.acceptance_percent') %>:</strong>
  <%= @processid.acceptance_percent %>
</p>

<p>
  <strong><%= t('activerecord.attributes.processid.keep_previous_work') %>:</strong>
  <%= @processid.keep_previous_work %>
</p>

<p>
  <strong><%= t('activerecord.attributes.processid.counting_rule') %>:</strong>
  <%= @processid.counting_rule %>
</p>

<p>
  <strong><%= t('activerecord.attributes.processid.notes') %>:</strong>
  <%= @processid.notes %>
</p>

<%= link_to 'Edit', edit_processid_path(@processid) %> |
<%= link_to 'Back', processids_path %>
