<%= form_for(@origin) do |f| %>
  <% if @origin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@origin.errors.count, "error") %> proibiram essa origem de ser salva:</h2>
      <ul>
        <% @origin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @current_user.profile == User::ROOM1 %>
    <div class="field">
      <%= f.label :file_name %><br>
      <%= f.text_field :file_name %>
    </div>
    <div class="field">
      <%= f.label :file_description %><br>
      <%= f.text_field :file_description %>
    </div>
    <div class="field">
      <%= f.label :created_in_sprint %>
      <%= f.label :updated_in_sprint %><br>
      <%= f.number_field :created_in_sprint %>
      <%= f.number_field :updated_in_sprint %>
    </div>
    <div class="field">
      <%= f.label :abbreviation %><br>
      <%= f.text_field :abbreviation %>
    </div>
    <div class="field">
      <%= f.label :base_type %><br>
      <%= f.select(:base_type,  ["Arquivo Mainframe", "Tabela Mainframe", "Base Hadoop", "Outro"], {:include_blank => 'Selecione'}) %>
    </div>
    <div class="field">
      <%= f.label :book_mainframe %><br>
      <%= f.text_field :book_mainframe %>
    </div>
    <div class="field">
      <%= f.label :periodicity %>
      <%= f.label :periodicity_details %><br>
      <%= f.select(:periodicity,  ["Diária", "Semanal", "Quinzenal", "Mensal", "Anual", "Exporádica", "Outro"], {:include_blank => 'Selecione'}) %>
      <%= f.text_field :periodicity_details %>
    </div>
    <div class="field">
      <%= f.label :data_retention_type %>
      <%= f.label :extractor_file_type %><br>
      <%= f.select(:data_retention_type,  ["Movimento do dia", "Apenas registros alterados", "Histórica", "Acumulado de um período"], {:include_blank => 'Selecione'}) %>
      <%= f.select(:extractor_file_type,  ["Novo", "Alterado"], {:include_blank => 'Selecione'}) %>
    </div>
    <div class="field">
      <%= f.label :room_1_notes %><br>
      <%= f.text_area :room_1_notes %>
    </div>
  <% end %>

  <% if @current_user.profile == User::ROOM2 %>
    <div class="field">
      <%= f.label :mnemonic %><br>
      <%= f.text_field :mnemonic %>
    </div>
    <div class="field">
      <%= f.label :cd5_portal_origin_code %>
      <%= f.label :cd5_portal_origin_name %><br>
      <%= f.number_field :cd5_portal_origin_code %>
      <%= f.text_field :cd5_portal_origin_name %>
    </div>
    <div class="field">
      <%= f.label :cd5_portal_destination_code %>
      <%= f.label :cd5_portal_destination_name %><br>
      <%= f.number_field :cd5_portal_destination_code %>
      <%= f.text_field :cd5_portal_destination_name %>
    </div>
    <div class="field">
      <%= f.label :hive_table_name %>
      <%= f.label :mainframe_storage_type %><br>
      <%= f.text_field :hive_table_name %>
      <%= f.select(:mainframe_storage_type,  ["Disco", "Fita"], {:include_blank => 'Selecione'}) %>
    </div>
    <div class="field">
      <%= f.label :room_2_notes %><br>
      <%= f.text_area :room_2_notes %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
