<%= form_for(@origin) do |f| %>
  <% if @origin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@origin.errors.count, "error") %> proibiram essa origem de ser salva:</h2>

      <ul>
      <% @origin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_name %><br>
    <%= f.text_field :file_name %>
  </div>
  <div class="field">
    <%= f.label :file_description %><br>
    <%= f.text_field :file_description %>
  </div>
  <div class="field">
    <%= f.label :created_in_sprint %><br>
    <%= f.number_field :created_in_sprint %>
  </div>
  <div class="field">
    <%= f.label :updated_in_sprint %><br>
    <%= f.number_field :updated_in_sprint %>
  </div>
  <div class="field">
    <%= f.label :abbreviation %><br>
    <%= f.text_field :abbreviation %>
  </div>
  <div class="field">
    <%= f.label :base_type %><br>
    <%= f.text_field :base_type %>
  </div>
  <div class="field">
    <%= f.label :book_mainframe %><br>
    <%= f.text_field :book_mainframe %>
  </div>
  <div class="field">
    <%= f.label :periodicity %><br>
    <%= f.text_field :periodicity %>
  </div>
  <div class="field">
    <%= f.label :periodicity_details %><br>
    <%= f.text_field :periodicity_details %>
  </div>
  <div class="field">
    <%= f.label :data_retention_type %><br>
    <%= f.text_field :data_retention_type %>
  </div>
  <div class="field">
    <%= f.label :extractor_file_type %><br>
    <%= f.text_field :extractor_file_type %>
  </div>
  <div class="field">
    <%= f.label :room_1_notes %><br>
    <%= f.text_area :room_1_notes %>
  </div>
  <div class="field">
    <%= f.label :mnemonic %><br>
    <%= f.text_field :mnemonic %>
  </div>
  <div class="field">
    <%= f.label :cd5_portal_source_code %><br>
    <%= f.number_field :cd5_portal_source_code %>
  </div>
  <div class="field">
    <%= f.label :cd5_portal_source_name %><br>
    <%= f.text_field :cd5_portal_source_name %>
  </div>
  <div class="field">
    <%= f.label :cd5_portal_target_code %><br>
    <%= f.number_field :cd5_portal_target_code %>
  </div>
  <div class="field">
    <%= f.label :cd5_portal_target_name %><br>
    <%= f.text_field :cd5_portal_target_name %>
  </div>
  <div class="field">
    <%= f.label :hive_table_name %><br>
    <%= f.text_field :hive_table_name %>
  </div>
  <div class="field">
    <%= f.label :mainframe_storage_type %><br>
    <%= f.text_field :mainframe_storage_type %>
  </div>
  <div class="field">
    <%= f.label :room_2_notes %><br>
    <%= f.text_area :room_2_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
