<a name="forms-construido" class="link-ancora"></a>
<section>
<h3 class="line-bottom">Adicionar <span class="destaque"><%= this_model_name(OriginField) %> </span></h3>

  <%= form_for :origin_field, url: create_or_update_origin_field_path do |f| %>
    <% if @origin_field.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@origin_field.errors.count, "error") %> proibiram esse campo de origem de ser salvo:</h2>
        <ul>
          <% @origin_field.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>

      <legend></legend>

      <div class="row clearfix">
        <div class="left t7">
          <%= f.label :field_name %>
          <%= f.text_field :field_name, disabled: !@current_user.room1? %>
        </div>
        <div class="left t10">
          <%= f.label :origin_pic %>
          <%= f.text_field :origin_pic, disabled: !@current_user.room1? %>
        </div>
        <div class="left t8">
          <%= f.label :data_type %>
          <%= f.select(:data_type, Constants::DATA_TYPES, {:include_blank => 'Selecione'}, disabled: !@current_user.room1?) %>
        </div>
        <div class="left t9">
          <%= f.label :fmbase_format_type %>
          <%= f.text_field :fmbase_format_type, :disabled => true %>
        </div>
        <div class="left t9">
          <%= f.label :generic_data_type %>
          <%= f.text_field :generic_data_type, :disabled => true %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t10">
          <%= f.label :decimal %>
          <%= f.text_field :decimal, disabled: !@current_user.room1?  %>
        </div>
        <div class="left t10">
          <%= f.label :mask %>
          <%= f.text_field :mask, disabled: !@current_user.room1?  %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t10">
          <%= f.label :position %>
          <%= f.text_field :position, disabled: !@current_user.room1?  %>
        </div>
        <div class="left t10">
          <%= f.label :width %>
          <%= f.text_field :width, disabled: !@current_user.room1?  %>
        </div>
        <div class="left t10">
          <%= f.label :is_key %>
          <%= f.select(:is_key, Constants::YES_NO, {:include_blank => 'Selecione'}, disabled: !@current_user.room1? ) %>
        </div>
         <div class="left t8">
          <%= f.label :will_use %>
          <%= f.select(:will_use, Constants::YES_NO, {:include_blank => 'Selecione'}, disabled: !@current_user.room1? ) %>
        </div>
         <div class="left t10">
          <%= f.label :has_signal %>
          <%= f.select(:has_signal, Constants::YES_NO, {:include_blank => 'Selecione'}, disabled: !@current_user.room1? ) %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :room_1_notes %>
          <%= f.text_area :room_1_notes, rows: 5, disabled: !@current_user.room1?   %>
        </div>
        <div class="left t6">
          <%= f.label :domain %>
          <%= f.text_area :domain, rows: 5, disabled: !@current_user.room1?   %>
        </div>
        <div class="left t6">
          <%= f.label :dmt_notes %>
          <%= f.text_area :dmt_notes, rows: 5, disabled: !@current_user.room1?  %>
        </div>
     </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :cd5_variable_number %>
          <%= f.text_field :cd5_variable_number, :size=>"5", disabled: @current_user.room1?   %>
        </div>
        <div class="left t6">
          <%= f.label :cd5_output_order %>
          <%= f.text_field :cd5_output_order, :size=>"5", disabled: @current_user.room1?   %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :cd5_variable_name %>
          <%= f.text_field :cd5_variable_name, disabled: @current_user.room1?  %>
        </div>
        <div class="left t6">
          <%= f.label :cd5_origin_format %>
          <%= f.text_field :cd5_origin_format, disabled: @current_user.room1?  %>
        </div>
        <div class="left t6">
          <%= f.label :cd5_origin_format_desc %>
          <%= f.text_field :cd5_origin_format_desc, disabled: @current_user.room1?  %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :cd5_format %>
          <%= f.text_field :cd5_format, disabled: @current_user.room1?  %>
        </div>
        <div class="left t6">
          <%= f.label :cd5_format_desc %>
          <%= f.text_field :cd5_format_desc, disabled: @current_user.room1?  %>
        </div>
        <div class="left t6">
          <%= f.label :default_value %>
          <%= f.text_field :default_value, disabled: @current_user.room1?  %>
        </div>
      </div>


      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :room_2_notes %>
          <%= f.text_area :room_2_notes, rows: 5, disabled: @current_user.room1?   %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :fmbase_format_datyp %>
          <%= f.text_field :fmbase_format_datyp, :size=>"5", :disabled => true  %>
        </div>
        <div class="left t6">
          <%= f.label :generic_datyp %>
          <%= f.text_field :generic_datyp, :size=>"5", :disabled => true  %>
        </div>
        <div class="left t6">
          <%= f.label :cd5_origin_frmt_datyp %>
          <%= f.text_field :cd5_origin_frmt_datyp, :size=>"5", :disabled => true  %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :cd5_frmt_origin_desc_datyp %>
          <%= f.text_field :cd5_frmt_origin_desc_datyp, :size=>"5", :disabled => true  %>
        </div>
        <div class="left t6">
          <%= f.label :default_value_datyp %>
          <%= f.text_field :default_value_datyp, :size=>"5", :disabled => true  %>
        </div>
      </div>

    </fieldset>

    <div class="actions">
      <%= f.submit "Salvar #{OriginField.model_name.human.capitalize}" %>
    </div>

    <%= f.hidden_field :origin_id, value: @origin.id %>
    <%= f.hidden_field :origin_field_id, value: @origin_field.id %>

  <% end %>

</section>
