<section>
  <h3 class="line-bottom">Cadastro de <span class="destaque"><%= this_model_name(OriginField) %></h3>

  <table summary="" class="tabela-zebra tabela-hover">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.origin_field.field_name') %></th>
        <th><%= t('activerecord.attributes.origin_field.origin_pic') %></th>
        <th><%= t('activerecord.attributes.origin_field.data_type') %></th>
        <th><%= t('activerecord.attributes.origin_field.decimal') %></th>
        <th><%= t('activerecord.attributes.origin_field.mask') %></th>
        <th><%= t('activerecord.attributes.origin_field.position') %></th>
        <th><%= t('activerecord.attributes.origin_field.width') %></th>
        <th><%= t('activerecord.attributes.origin_field.is_key')  %></th>
        <th><%= t('activerecord.attributes.origin_field.will_use')  %></th>
        <th><%= t('activerecord.attributes.origin_field.has_signal') %></th>

        <% if @current_user.room2?%>
          <th><%= t('activerecord.attributes.origin_field.cd5_variable_number') %></th>
          <th><%= t('activerecord.attributes.origin_field.cd5_output_order') %></th>
        <% end %>
        <th></th>

        <% if @current_user.room1?%>
          <td></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @origin.origin_fields.each do |origin_field| %>
        <tr>
          <td><%= link_to origin_field.field_name.to_s, get_origin_field_to_update_path(id: origin_field.id) %></td>
          <td><%= origin_field.origin_pic %></td>
          <td><%= origin_field.data_type %></td>
          <td><%= origin_field.decimal %></td>
          <td><%= origin_field.mask %></td>
          <td><%= origin_field.position %></td>
          <td><%= origin_field.width %></td>
          <td><%= boolean_to_sim_nao(origin_field.is_key) %></td>
          <td><%= boolean_to_sim_nao(origin_field.will_use) %></td>
          <td><%= boolean_to_sim_nao(origin_field.has_signal) %></td>

          <% if @current_user.room2? %>
            <td><%= origin_field.cd5_variable_number %></td>
            <td><%= origin_field.cd5_output_order %></td>
          <% end %>

          <td><%= link_to t('edit'), get_origin_field_to_update_path(id: origin_field.id) %></td>

          <% if @current_user.room1? %>
            <td><%= link_to t('destroy'), destroy_origin_field_path(origin_field.id), method: :delete, data: { confirm: t('are_you_sure') } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

