<section>
  <h3 class="line-bottom">Cadastro de <%= this_model_name( Origin ) %></h3>

  <h2><%= @current_user.profile %></h2>
  <div class="box-info">
    <table class="resumo">
      <tbody>
       <% if @current_user.profile == User::ROOM1 %>
         <tr>
           <th><%= t('activerecord.attributes.origin.file_name') %>:</th>
           <td><%= @origin.file_name %></td>
         </tr>
         <tr>
          <th><%= t('activerecord.attributes.origin.file_description') %>:</th>
          <td><%= @origin.file_description %></td>
         </tr>
       <% end %>
       <% if @current_user.profile == User::ROOM2 %>
         <tr>
           <th><%= t('activerecord.attributes.origin.mnemonic') %>:</th>
           <td><%= @origin.mnemonic %></td>
         </tr>
         <tr>
           <th><%= t('activerecord.attributes.origin.file_description') %>:</th>
           <td><%= @origin.file_description %></td>
         </tr>
         <tr>
           <th><%= t('activerecord.attributes.origin.hive_table_name') %>:</th>
           <td><%= @origin.hive_table_name %></td>
         </tr>
         <tr>
           <th><%= t('activerecord.attributes.origin.mainframe_storage_type') %>:</th>
           <td><%= @origin.mainframe_storage_type %></td>
         </tr>
         <tr>
           <th><%= t('activerecord.attributes.origin.room_2_notes') %>:</th>
           <td><%= @origin.room_2_notes %></td>
         </tr>
       <% end %>
      </tbody>
    </table>
  </div>
</section>
