<%= form_for :origin_field, url: "origin#create_origin_field" do |f| %>
  <% if @origin_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@origin_field.errors.count, "error") %> proibiram esse campo de origem de ser salvo:</h2>
      <ul>
        <% @origin_field.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  <%= content_tag :div, :class => "row clearfix"  do %>
    <table>
      <tr>
        <td></td>
      </tr>
      <% if @current_user.profile == User::ROOM1 %>
        <%= f.label :field_name %>
        <%= f.label :origin_pic %>
        <%= f.label :data_type_origin_field %>
        <%= f.label :fmbase_format_type %>
        <%= f.label :generic_data_type %>
        <%= f.label :decimal_origin_field %>
        <%= f.label :mask_origin_field %>
        <%= f.label :position_origin_field %>
        <%= f.label :width_origin_field %>
        <%= f.label :is_key %>
        <%= f.label :will_use %>
        <%= f.label :has_signal %>
        <%= f.label :room_1_notes %><br>
        <%= content_tag :div, :class => "left t3" do %>
          <%= f.text_field :field_name %>
        <% end %>
        <%= f.text_field :origin_pic, :size=>"5"  %>
        <%= f.text_field :data_type_origin_field, :size=>"5"  %>
        <%= f.select(:data_type_origin_field,  ["Alfanumérico", "Numérico", "Compactado", "Data", "Numérico com vírgula", "Compactado com vírgula", "Binário Mainframe"], {:include_blank => 'Selecione'}) %>
        <%= f.text_field :fmbase_format_type, :size=>"5"  %>
        <%= f.text_field :generic_data_type, :size=>"5"  %>
        <%= f.text_field :decimal_origin_field, :size=>"5"  %>
        <%= f.text_field :position_origin_field, :size=>"5"  %>
        <%= f.text_field :mask_origin_field, :size=>"5"  %>
        <%= f.text_field :width_origin_field, :size=>"5"  %>
        <%= f.check_box :is_key %>
        <%= f.check_box :will_use %>
        <%= f.check_box :has_signal %>
        <%= f.text_field :room_1_notes, :size=>"5"  %>
      <% end %>

      <% if @current_user.profile == User::ROOM2 %>
        <%= f.label :cd5_variable_number %>
        <%= f.label :cd5_output_order %>
        <%= f.label :cd5_variable_name %>
        <%= f.label :cd5_origin_format %>
        <%= f.label :cd5_origin_format_desc %>
        <%= f.label :cd5_format %>
        <%= f.label :cd5_format_desc %>
        <%= f.label :default_value %>
        <%= f.label :room_2_notes %>
        <%= f.label :origin_id %><br>
        <%= f.text_field :cd5_variable_number, width: "5" %>
        <%= f.text_field :cd5_output_order %>
        <%= f.text_field :cd5_variable_name %>
        <%= f.text_field :cd5_origin_format %>
        <%= f.text_field :cd5_origin_format_desc %>
        <%= f.text_field :cd5_format %>
        <%= f.text_field :cd5_format_desc %>
        <%= f.text_field :default_value %>
        <%= f.text_field :room_2_notes %>
      <% end %>
    </div>

  <% end %>
    <%= f.hidden_field :origin_id, value: @origin.id%>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
