<a name="forms-construido" class="link-ancora"></a>
<section>
  <h3 class="line-bottom">Cadastro de <span class="destaque"><%= Origin.model_name.human.capitalize %></span></h3>

  <%= form_for(@origin) do |f| %>
    <% if @origin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@origin.errors.count, "error") %> proibiram essa origem de ser salva:</h2>
        <ul>
          <% @origin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <legend></legend>
      <div class="row clearfix">
        <div class="left t4">
          <%= f.label :file_name%>
          <%= f.text_field :file_name %>

        </div>
        <div class="left t3">
          <%= f.label :file_description %>
          <%= f.text_area :file_description, rows: 3 %>
        </div>
      </div>
      <div class="row clearfix">
        <div class="left t8">
          <%= f.label :created_in_sprint %>
          <%= f.text_field :created_in_sprint %>
        </div>
        <div class="left t8">
          <%= f.label :updated_in_sprint %>
          <%= f.text_field :updated_in_sprint %>
        </div>
        <div class="left t9">
          <%= f.label :abbreviation %>
          <%= f.text_field :abbreviation %>
        </div>
        <div class="left t8">
          <%= f.label :base_type %>
          <%= f.select(:base_type,  ["Arquivo Mainframe", "Tabela Mainframe", "Base Hadoop", "Outro"], {:include_blank => 'Selecione'}) %>
        </div>
        <div class="left t10">
          <%= f.label :book_mainframe %>
          <%= f.text_field :book_mainframe %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t8">
          <%= f.label :periodicity %>
          <%= f.select(:periodicity,  ["Diária", "Semanal", "Quinzenal", "Mensal", "Anual", "Exporádica", "Outro"], {:include_blank => 'Selecione'}) %>
        </div>
        <div class="left t8">
          <%= f.label :periodicity_details %>
          <%= f.text_field :periodicity_details %>
        </div>
        <div class="left t4">
          <%= f.label :data_retention_type %>
          <%= f.select(:data_retention_type,  ["Movimento do dia", "Apenas registros alterados", "Histórica", "Acumulado de um período"], {:include_blank => 'Selecione'}) %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t4">
          <%= f.label :extractor_file_type %>
          <%= f.select(:extractor_file_type,  ["Novo", "Alterado"], {:include_blank => 'Selecione'}) %>
        </div>
        <div class="left t3">
          <%= f.label :room_1_notes %>
          <%= f.text_area :room_1_notes, rows: 5 %>
        </div>
      </div>


      <div class="row clearfix">
        <div class="left t4">
          <%= f.label :dmt_advice %>
          <%= f.text_field :dmt_advice %>
        </div>
        <div class="left t4">
          <%= f.label :dmt_classification %>
          <%= f.select(:dmt_classification,  ["Atendido", "Pendente Revisão","Não atendido"], {:include_blank => 'Selecione'}) %>
        </div>
      </div>

    </fieldset>

    <section>
      <div class="botoes clearfix">
        <div class="row clearfix">
          <% if @current_user.can_access?(@origin) %>
            <% if @origin.new_record? %>
              <%= f.submit "Salvar" %>
            <% else %>
              <% if @origin.status == Constants::STATUS[:PRODUCAO] %>
                <%= f.button "Reabrir", name: 'update_status', value: "sala1" %>
              <% elsif @origin.status == Constants::STATUS[:SALA1] %>
                <%= f.submit "Salvar" %>
                <%= f.button "Finalizar", name: 'update_status', value: "sala2" %>
              <% end %>
            <% end %>
          <% end %>
          <%= link_to t('back'), :back %>
        </div>
      </div>
    </section>
  <% end %>
</section>
