<section>
  <h3 class="line-bottom">Resumo</h3>
  <h2><%= @current_user.profile %></h2>
  <div class="box-info">
    <table class="resumo">
      <tbody>
        <tr>
          <th><%= t('activerecord.attributes.origin.file_name') %>:</th>
          <td><%= @origin.file_name %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.origin.file_description') %>:</th>
          <td><%= @origin.file_description %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.origin.created_in_sprint') %>:</th>
          <td><%= @origin.created_in_sprint %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.origin.updated_in_sprint') %>:</th>
          <td><%= @origin.updated_in_sprint %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.origin.abbreviation') %>:</th>
          <td><%= @origin.abbreviation %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.base_type.cd5_portal_destination_name') %>:</th>
          <td><%= @origin.base_type %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.origin.book_mainframe') %>:</th>
          <td><%= @origin.book_mainframe %><td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.origin.periodicity') %>:</th>
          <td><%= @origin.periodicity %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.origin.periodicity_details') %>:</th>
          <td><%= @origin.periodicity_details %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.origin.data_retention_type') %>:</th>
          <td><%= @origin.data_retention_type %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.origin.extractor_file_type') %>:</th>
          <td><%= @origin.extractor_file_type %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.origin.room_1_notes') %>:</th>
          <td><%= @origin.room_1_notes %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<a name="forms-construido" class="link-ancora"></a>
<section>
  <h3 class="line-bottom">Cadastro de <span class="destaque"><%= this_model_name( Origin ) %></span></h3>

  <%= form_for(@origin) do |f| %>
    <% if @origin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@origin.errors.count, "error") %> proibiram essa origem de ser salva:</h2>
        <ul>
          <% @origin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <legend></legend>
      <div class="row clearfix">
        <div class="left t4">
          <%= f.label :mnemonic %>
          <%= f.text_field :mnemonic %>
        </div>
      </div>
      <div class="row clearfix">
        <div class="left t10">
          <%= f.label :cd5_portal_origin_code %>
          <%= f.text_field :cd5_portal_origin_code %>
        </div>
        <div class="left t6">
          <%= f.label :cd5_portal_origin_name %>
          <%= f.text_field :cd5_portal_origin_name, :disabled => true %>
        </div>
        <div class="left t10">
          <%= f.label :cd5_portal_destination_code %>
          <%= f.text_field :cd5_portal_destination_code %>
        </div>
        <div class="left t6">
          <%= f.label :cd5_portal_destination_name %>
          <%= f.text_field :cd5_portal_destination_name, :disabled => true %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t4">
          <%= f.label :hive_table_name %>
          <%= f.text_field :hive_table_name, :disabled => true %>
        </div>
        <div class="left t5">
          <%= f.label :mainframe_storage_type %>
          <%= f.select(:mainframe_storage_type,  ["Disco", "Fita"], {:include_blank => 'Selecione'}) %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t4">
          <%= f.label :room_2_notes %>
          <%= f.text_area :room_2_notes, rows: 5 %>
        </div>
      </div>
    </fieldset>

    <section>
      <div class="botoes clearfix">
        <div class="row clearfix">
          <% if @current_user.room2? && @origin.status == Constants::STATUS[:SALA2] %>
            <%= f.submit "Salvar" %>
            <%= f.button "Finalizar", name: 'update_status', value: Constants::STATUS[:PRODUCAO] %>
            <%= f.button "Devolver", name: 'update_status', value: Constants::STATUS[:SALA1] %>
          <% end %>
          <%= link_to t('back'), root_path %>
        </div>
      </div>
    </section>
  <% end %>
</section>
