<%= form_for :origin_field, url: create_origin_field_upload_path, :multipart => true do |f| %>
<section>
  <h3 class="line-bottom">Adicionar <span class="destaque">campos de origem através de upload</span></h3>

<fieldset>
  <%= f.hidden_field :origin_id, value: @origin.id%>

  <%= radio_button_tag 'file_type', "mainframe" %> Mainframe
  <%= radio_button_tag 'file_type', "hadoop" %> Hadoop

  
      <div class="row clearfix">
        <div class="left t2">
  <p><label for="upload_file">Selecione o Arquivo</label>
  <%= f.file_field 'datafile' %></p>
  </div>
</div> 
</fieldset>

<div class="actions">
<%= submit_tag "Upload" %>
</div>

<% end %>
</section>