<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.origin.file_name') %>:</strong>
  <%= @origin.file_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.file_description') %>:</strong>
  <%= @origin.file_description %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.created_in_sprint') %>:</strong>
  <%= @origin.created_in_sprint %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.updated_in_sprint') %>:</strong>
  <%= @origin.updated_in_sprint %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.abbreviation') %>:</strong>
  <%= @origin.abbreviation %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.base_type') %>:</strong>
  <%= @origin.base_type %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.book_mainframe') %>:</strong>
  <%= @origin.book_mainframe %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.periodicity') %>:</strong>
  <%= @origin.periodicity %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.periodicity_details') %>:</strong>
  <%= @origin.periodicity_details %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.data_retention_type') %>:</strong>
  <%= @origin.data_retention_type %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.extractor_file_type') %>:</strong>
  <%= @origin.extractor_file_type %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.room_1_notes') %>:</strong>
  <%= @origin.room_1_notes %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.mnemonic') %>:</strong>
  <%= @origin.mnemonic %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.cd5_portal_origin_code') %>:</strong>
  <%= @origin.cd5_portal_origin_code %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.cd5_portal_origin_name') %>:</strong>
  <%= @origin.cd5_portal_origin_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.cd5_portal_destination_code') %>:</strong>
  <%= @origin.cd5_portal_destination_code %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.cd5_portal_destination_name') %>:</strong>
  <%= @origin.cd5_portal_destination_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.hive_table_name') %>:</strong>
  <%= @origin.hive_table_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.mainframe_storage_type') %>:</strong>
  <%= @origin.mainframe_storage_type %>
</p>

<p>
  <strong><%= t('activerecord.attributes.origin.room_2_notes') %>:</strong>
  <%= @origin.room_2_notes %>
</p>

<%= link_to t('edit'), edit_origin_path(@origin) %> |
<%= link_to t('back'), origins_path %>
