<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.file_name') %></strong>
  <%= @origin.file_name %>
</p>

<p>
  <strong>File description:</strong>
  <%= @origin.file_description %>
</p>

<p>
  <strong>Created in sprint:</strong>
  <%= @origin.created_in_sprint %>
</p>

<p>
  <strong>Updated in sprint:</strong>
  <%= @origin.updated_in_sprint %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @origin.abbreviation %>
</p>

<p>
  <strong>Base type:</strong>
  <%= @origin.base_type %>
</p>

<p>
  <strong>Book mainframe:</strong>
  <%= @origin.book_mainframe %>
</p>

<p>
  <strong>Periodicity:</strong>
  <%= @origin.periodicity %>
</p>

<p>
  <strong>Periodicity details:</strong>
  <%= @origin.periodicity_details %>
</p>

<p>
  <strong>Data retention type:</strong>
  <%= @origin.data_retention_type %>
</p>

<p>
  <strong>Extractor file type:</strong>
  <%= @origin.extractor_file_type %>
</p>

<p>
  <strong>Room 1 notes:</strong>
  <%= @origin.room_1_notes %>
</p>

<p>
  <strong>Mnemonic:</strong>
  <%= @origin.mnemonic %>
</p>

<p>
  <strong>Cd5 portal source code:</strong>
  <%= @origin.cd5_portal_source_code %>
</p>

<p>
  <strong>Cd5 portal source name:</strong>
  <%= @origin.cd5_portal_source_name %>
</p>

<p>
  <strong>Cd5 portal target code:</strong>
  <%= @origin.cd5_portal_target_code %>
</p>

<p>
  <strong>Cd5 portal target name:</strong>
  <%= @origin.cd5_portal_target_name %>
</p>

<p>
  <strong>Hive table name:</strong>
  <%= @origin.hive_table_name %>
</p>

<p>
  <strong>Mainframe storage type:</strong>
  <%= @origin.mainframe_storage_type %>
</p>

<p>
  <strong>Room 2 notes:</strong>
  <%= @origin.room_2_notes %>
</p>

<%= link_to t('edit'), edit_origin_path(@origin) %> |
<%= link_to t('back'), origins_path %>
