<p id="notice"><%= notice %></p>

<% if @current_user.profile == User::ROOM1 %>
  <table border="1">
    <tr>
      <th colspan="2" align="left"><b>Cadastro de <%= Origin.model_name.human.capitalize %></b> - <%= @current_user.profile %></th>
    </tr>
    <tr>
      <td><strong><%= t('activerecord.attributes.origin.file_name') %>:</strong></td>
      <td><strong><%= t('activerecord.attributes.origin.file_description') %>:</strong></td>
    </tr>
    <tr>
      <td><%= @origin.file_name %></td>
      <td><%= @origin.file_description %></td>
    </tr>
  </table>
<% end %>
<br>

<% if @current_user.profile == User::ROOM2 %>
  <div>
    <strong><%= t('activerecord.attributes.origin.mnemonic') %>:</strong>
    <%= @origin.mnemonic %>
  </div>

  <div>
    <strong><%= t('activerecord.attributes.origin.cd5_portal_origin_code') %>:</strong>
      <%= @origin.cd5_portal_origin_code %>
  </div>

  <div>
    <strong><%= t('activerecord.attributes.origin.cd5_portal_origin_name') %>:</strong>
    <%= @origin.cd5_portal_origin_name %>
  </div>

  <div>
    <strong><%= t('activerecord.attributes.origin.cd5_portal_origin_code') %>:</strong>
    <strong><%= t('activerecord.attributes.origin.cd5_portal_destination_code') %>:</strong>
    <%= @origin.cd5_portal_destination_code %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.origin.cd5_portal_destination_name') %>:</strong>
    <%= @origin.cd5_portal_destination_name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.origin.hive_table_name') %>:</strong>
    <%= @origin.hive_table_name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.origin.mainframe_storage_type') %>:</strong>
    <%= @origin.mainframe_storage_type %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.origin.room_2_notes') %>:</strong>
    <%= @origin.room_2_notes %>
  </p>
  </div>

<% end %>
<%= render 'origin_fields_index' %>
<%= render 'origin_fields_form' %>
<br>
<br>
