<div class="row-fluid">
  <div class="span6">
    <div class="page-header">
      <h3>Usuários</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Time</th>
          <th>Papel</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, edit_user_path(user.id) %></td>
            <td><%= user.email %></td>
            <td><%= user.profile %></td>
            <td><%= user.role %></td>
            <td><%= link_to t("reset_password"), controller: "users", action: "remember_password_index", id: user.id %>
            <td><%= link_to t('destroy'), user, method: :delete, data: { confirm: t('are_you_sure') } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

