<% unless flash.empty? %>
  <div>
    <%= render 'messages/message' %>
  </div>
<% end %>

<%= form_for("user", :url => "/signin") do |f| %>
  <h3>Login</h3>
  <div class="field t6">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field t6">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <%= f.submit t('signin') %>
  <%= link_to t('new_user'), signup_path %>
<% end %>
