<% if flash[:notice] %>
  <div>
    <%=flash[:notice]%>
  </div>
<% end %>

<% if flash[:error] %>
  <div>
    <h4>Ooops!</h4>
    <%=flash[:error]%>
  </div>
<% end %>

<%= form_for("user", :url => "/remember_password", id: @user.id) do |f| %>
  <h3>Redefinição de senha</h3>
  <div class="field">
    <%= f.label :name %><br>
    <%= @user.name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= @user.email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <input type="hidden" name="id" value="<%= @user.id %>" %>

  <%= f.submit t("reset_password") %>
  <%= link_to t('back'), users_path %>
<% end %>
