<section class="main">
  <div class="row clearfix">
    <div class="col2" role="complementary">
      <div class="modulo modulo-sidebar" id="guide-move">
        <h4>Cadastros</h4>
        <div class="botoes clearfix">
          <div class="row clearfix">
            <%= link_to "#{Origin.model_name.human.capitalize}", origins_path, :class => "btn btn-secundario left txt-no-transform" %>
          </div>
          <% if @current_user.profile == User::ROOM1 %>
            <div class="row clearfix">
              <%= link_to "#{Campaign.model_name.human.capitalize}", campaigns_path, :class => "btn btn-secundario left txt-no-transform" %>
            </div>
          <% end %>
          <div class="row clearfix">
            <%= link_to "#{Variable.model_name.human.capitalize}", variables_path, :class => "btn btn-secundario left txt-no-transform" %>
          </div>
          <% if @current_user.profile == User::ROOM2 %>
            <div class="row clearfix">
              <%= link_to "#{Table.model_name.human.capitalize}", tables_path, :class => "btn btn-secundario left txt-no-transform" %>
            </div>
            <div class="row clearfix">
              <%= link_to "#{Processid.model_name.human.capitalize}", processids_path, :class => "btn btn-secundario left txt-no-transform" %>
            </div>
          <% end %>
        </div>
      </div>
    </div> <!-- div class=col2 -->

    <div class="col10" role="main">
      <div class="modulo">
        <section class="formulario">
          <h3 class="line-bottom">Status</h3>

          <fieldset>
            <legend></legend>
            <%= form_tag( index_path ) do  %>
            <div id="status" class="row clearfix line-bottom">
              <p class="left">
                <input type="radio" value="origem" <%='checked' if @status.model.name.downcase == 'origin' %> id="status01" name="status", onclick="this.form.submit();" />
                <label for="status01"><%= Origin.model_name.human.upcase %></label>
              </p>
              <% if @current_user.profile == User::ROOM1 %>
                <p class="left">
                  <input type="radio" value="campanha" <%='checked' if @status.model.name.downcase == 'campaign' %> id="status02" name="status", onclick="this.form.submit();" />
                  <label for="status02"><%= Campaign.model_name.human.upcase %></label>
                </p>
              <% end %>
              <p class="left">
                <input type="radio" value="variavel" <%='checked' if @status.model.name.downcase == 'variable' %> id="status03" name="status", onclick="this.form.submit();" />
                <label for="status03"><%= Variable.model_name.human.upcase %></label>
              </p>
              <% if @current_user.profile == User::ROOM2 %>
                <p class="left">
                  <input type="radio" value="tabela" <%='checked' if @status.model.name.downcase == 'table' %> id="status04" name="status", onclick="this.form.submit();" />
                  <label for="status04"><%= Table.model_name.human.upcase %></label>
                </p>
                <p class="left">
                  <input type="radio" value="processo" <%='checked' if @status.model.name.downcase == 'processid' %> id="status05" name="status", onclick="this.form.submit();" />
                  <label for="status05"><%= Processid.model_name.human.upcase %></label>
                </p>
              <% end %>
            </div> <!-- row clearfix -->
          <% end %>
          </fieldset>

          <section>
            <table summary="" class="tabela-zebra tabela-hover">
              <thead>
                <tr class="txt-no-transform">
                  <th>Em Desenho</th>
                  <th>Pronto para<br>Desenvolvimento</div></th>
                  <th>Efetivado</th>
                </tr>
               </thead>
               <tbody>
                 <% @draft.each do |origin| %>
                   <tr>
                     <td><%= link_to "#{origin.code} #{origin.status_screen_name}", origin %></td>
                   </tr>
                 <% end %>
                 <% @development.each do |origin| %>
                   <tr>
                     <td><%= link_to "#{origin.code} #{origin.status_screen_name}", origin %></td>
                   </tr>
                 <% end %>
                 <% @done.each do |origin| %>
                   <tr>
                     <td><%= link_to "#{origin.code} #{origin.status_screen_name}", origin %></td>
                   </tr>
                 <% end %>
               </tbody>
             </table> <!-- summary="" class="tabela-zebra tabela-hover" -->
          </section> <!-- grid section -->

        </section> <!-- formulario -->
      </div> <!-- modulo -->
    </div> <!-- col -->

  </div> <!-- row clearfix -->
</section> <!-- main -->

