<%= form_for("user", :url => "/signin") do |f| %>
<h3>Login</h3>
<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %><br>
  <%= f.password_field :password %>
</div>
  <%= f.submit 'Sign in' %>
  <%= link_to "New user?", signup_path %>
  <%= link_to "Forgot your password?", remember_password_path %>
<% end %>
