<%= form_for(@table) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %>  proibiram essa tabela de ser salva:</h2>
      <ul>
        <% @table.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="left">
    <div class="left t5">
      <%= f.label :logic_table_name %><br>
      <%= f.text_field :logic_table_name %>
    </div>
    <div class="field t5">
      <%= f.label :type %><br>
      <%= f.select(:type, ["seleção", "colagem", "lookup interna", "lookup externa", "lookup blindage"], {:include_blank => 'Selecione'}) %>
    </div>
    <div class="field t1">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field t3">
      <%= f.label :key %><br>
      <%= f.text_field :key %>
    </div>
    <div class="row clearfix">
      <div class="left t11">
        <%= f.label :initial_volume %><br>
        <%= f.text_field :initial_volume %>
      </div>
      <div class="left t11">
        <%= f.label :growth_estimation %><br>
        <%= f.text_field :growth_estimation %>
      </div>
    </div>
    <div class="row clearfix">
      <div class="left t11">
        <%= f.label :created_in_sprint %><br>
        <%= f.text_field :created_in_sprint %>
      </div>
      <div class="left t11">
        <%= f.label :updated_in_sprint %><br>
        <%= f.text_field :updated_in_sprint %>
      </div>
    </div>
    <div class="field t1">
      <%= f.label :room_1_notes %><br>
      <%= f.text_area :room_1_notes, rows: 3 %>
    </div>
    <div class="field t1">
      <%= f.label :final_physical_table_name %><br>
      <%= f.text_field :final_physical_table_name %>
    </div>
    <div class="field t1">
      <%= f.label :mirror_physical_table_name %><br>
      <%= f.text_field :mirror_physical_table_name %>
    </div>
    <div class="row clearfix">
      <div class="left t11">
        <%= f.label :final_table_number %><br>
        <%= f.text_field :final_table_number %>
      </div>
      <div class="left t11">
        <%= f.label :mirror_table_number %><br>
        <%= f.text_field :mirror_table_number %>
      </div>
      <div class="left t11">
        <%= f.label :mnemonic %><br>
        <%= f.text_field :mnemonic, maxlength: 5 %>
      </div>
      <div class="left t11">
        <%= f.label :routine_number %><br>
        <%= f.text_field :routine_number %>
      </div>
    </div>

    <div class="row clearfix">
      <div class="left t1">
        <%= f.label :master_base %><br>
        <%= f.text_field :master_base %>
      </div>
    </div>

    <div class="row clearfix">
      <div class="left t10">
        <%= f.label :hive_table %><br>
        <%= f.text_field :hive_table, readonly: true %>
      </div>
      <div class="left t10">
        <%= f.label :big_data_routine_name %><br>
        <%= f.text_field :big_data_routine_name, readonly: true %>
      </div>
      <div class="left t10">
        <%= f.label :output_routine_name %><br>
        <%= f.text_field :output_routine_name, readonly: true %>
      </div>
      <div class="left t10">
        <%= f.label :ziptrans_routine_name %><br>
        <%= f.text_field :ziptrans_routine_name, readonly: true %>
      </div>
    </div>
    <div class="row clearfix">
      <div class="left t10">
        <%= f.label :mirror_data_stage_routine_name %><br>
        <%= f.text_field :mirror_data_stage_routine_name, readonly: true %>
      </div>
      <div class="left t10">
        <%= f.label :final_data_stage_routine_name %><br>
        <%= f.text_field :final_data_stage_routine_name, readonly: true %>
      </div>
      <div class="left">
        <%= f.label :key_fields_hive_script %><br>
        <%= f.text_field :key_fields_hive_script %>
      </div>
    </div>
    <div class="left t1">
      <%= f.label :room_2_notes %><br>
      <%= f.text_area :room_2_notes, rows: 3 %>
    </div>
  </div>
  <section>
    <div class="botoes clearfix">
      <div class="row clearfix">
        <% if @table.new_record? %>
          <%= f.submit "Salvar" %>
        <% else %>
          <% if @table.status == Constants::STATUS[:SALA1] %>
            <%= f.submit "Salvar" %>
            <%= f.button "Finalizar", name: 'update_status', value: Constants::STATUS[:SALA2] %>
          <% end %>
          <% if @current_user.room1? && @table.status == Constants::STATUS[:EFETIVO] %>
            <%= f.button "Reabrir", name: 'update_status', value: "sala1" %>
          <% end %>
          <% if @current_user.room2? && @table.status == Constants::STATUS[:SALA2] %>
            <%= f.submit "Salvar" %>
            <%= f.button "Finalizar", name: 'update_status', value: Constants::STATUS[:EFETIVO] %>
          <% end %>
        <% end %>
        <%= link_to t('back'), root_path({ status: "table" } ) %>
      </div>
    </div>
  </section>
  <div class="row clearfix">
    <div class="left t1">
      <%= render 'variables_form' %>
    </div>
  </div>
<% end %>
