<section class="formulario">
  <% if @current_user.room1? %>
    <h3 class="line-bottom">>>> Selecione abaixo as <span class="destaque"><%= Variable.model_name.human.capitalize.pluralize %></span> para a <%= Table.model_name.human.capitalize %></h3>
    <div class="row clearfix">
      <input id="table_id"  type="hidden" value="<%= @table.id %>">
      </input>
      <input id="table_variables" type="hidden" value="|" name="variable_ids[]">
      </input>
    </div>
  <% else %>
    <h3 class="line-bottom"><span class="destaque"><%= Variable.model_name.human.capitalize.pluralize %></span> para a <%= Table.model_name.human.capitalize %></h3>
    <fieldset>
      <div class="row clearfix">
        <% if @table.variables.size > 0 %>
          <ul>
            <% @table.variables.each do |var| %>
              <li><%= truncate("#{var.name}") %></li>
            <% end %>
          </ul>
        <% else %>
          <ul>
            <li>Nenhuma variável encontrada!</li>
          </ul>
        <% end %>
      </div>
    </fieldset>
  <% end %>
</section>
