<section class="formulario">
  <% if @current_user.room1? %>
    <h3 class="line-bottom">>>> Selecione abaixo as <span class="destaque"><%= Variable.model_name.human.capitalize.pluralize %></span> para a <%= Table.model_name.human.capitalize %></h3>
    <fieldset>
      <div class="row clearfix">
        <% @variables.each do |var| %>
          <p class="left" style="font-family: courier new,monospace;">
            <%= check_box_tag( "table[variable_list][#{var.id}]", "checked", @table.variables.detect{|v| v == var} ) %>
            <%= truncate("#{var.name}".ljust(30,'.').gsub(' ','.'), length: 30) %>
          </p>
        <% end %>
      </div>
    </fieldset>
  <% else %>
    <h3 class="line-bottom"><span class="destaque"><%= Variable.model_name.human.capitalize.pluralize %></span> para a <%= Table.model_name.human.capitalize %></h3>
    <fieldset>
      <div class="row clearfix">
        <% if @table.variables.size > 0 %>
          <ul>
            <% @table.variables.each do |var| %>
              <li><%= truncate("#{var.name}") %></li>
            <% end %>
          </ul>
        <% else %>
          <ul>
            <li>Nenhuma variável encontrada!</li>
          </ul>
        <% end %>
      </div>
    </fieldset>
  <% end %>
</section>
