<h1><%= Table.model_name.human.capitalize %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.table.logic_table_name') %></th>
      <th><%= t('activerecord.attributes.table.name') %></th>
      <th><%= t('activerecord.attributes.table.initial_volume') %></th>
      <th><%= t('activerecord.attributes.table.growth_estimation') %></th>
      <th><%= t('activerecord.attributes.table.created_in_sprint') %></th>
      <th><%= t('activerecord.attributes.table.updated_in_sprint') %></th>
      <th><%= t('activerecord.attributes.table.room_1_notes') %></th>
      <th><%= t('activerecord.attributes.table.final_physical_table_name') %></th>
      <th><%= t('activerecord.attributes.table.mirror_physical_table_name') %></th>
      <th><%= t('activerecord.attributes.table.final_table_number') %></th>
      <th><%= t('activerecord.attributes.table.mirror_table_number') %></th>
      <th><%= t('activerecord.attributes.table.mnemonic') %></th>
      <th><%= t('activerecord.attributes.table.routine_number') %></th>
      <th><%= t('activerecord.attributes.table.master_base') %></th>
      <th><%= t('activerecord.attributes.table.hive_table') %></th>
      <th><%= t('activerecord.attributes.table.big_data_routine_name') %></th>
      <th><%= t('activerecord.attributes.table.output_routine_name') %></th>
      <th><%= t('activerecord.attributes.table.ziptrans routine name') %></th>
      <th><%= t('activerecord.attributes.table.mirror_data_stage_routine_name') %></th>
      <th><%= t('activerecord.attributes.table.final_data_stage_routine_name') %></th>
      <th><%= t('activerecord.attributes.table.room_2_notes') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.logic_table_name %></td>
        <td><%= table.name %></td>
        <td><%= table.initial_volume %></td>
        <td><%= table.growth_estimation %></td>
        <td><%= table.created_in_sprint %></td>
        <td><%= table.updated_in_sprint %></td>
        <td><%= table.room_1_notes %></td>
        <td><%= table.final_physical_table_name %></td>
        <td><%= table.mirror_physical_table_name %></td>
        <td><%= table.final_table_number %></td>
        <td><%= table.mirror_table_number %></td>
        <td><%= table.mnemonic %></td>
        <td><%= table.routine_number %></td>
        <td><%= table.master_base %></td>
        <td><%= table.hive_table %></td>
        <td><%= table.big_data_routine_name %></td>
        <td><%= table.output_routine_name %></td>
        <td><%= table.ziptrans_routine_name %></td>
        <td><%= table.mirror_data_stage_routine_name %></td>
        <td><%= table.final_data_stage_routine_name %></td>
        <td><%= table.room_2_notes %></td>
        <td><%= link_to t('show'), table %></td>
        <td><%= link_to t('edit'), edit_table_path(table) %></td>
        <td><%= link_to t('destroy'), table, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Nova #{Table.model_name.human.capitalize}", new_table_path %>
