<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.table.logic_table_name') %>:</strong>
  <%= @table.logic_table_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.name') %>:</strong>
  <%= @table.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.initial_volume') %>:</strong>
  <%= @table.initial_volume %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.growth_estimation') %>:</strong>
  <%= @table.growth_estimation %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.created_in_sprint') %>:</strong>
  <%= @table.created_in_sprint %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.updated_in_sprint') %>:</strong>
  <%= @table.updated_in_sprint %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.room_1_notes') %>:</strong>
  <%= @table.room_1_notes %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.final_physical_table_name') %>:</strong>
  <%= @table.final_physical_table_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.mirror_physical_table_name') %>:</strong>
  <%= @table.mirror_physical_table_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.final_table_number') %>:</strong>
  <%= @table.final_table_number %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.mirror_table_number') %>:</strong>
  <%= @table.mirror_table_number %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.mnemonic') %>:</strong>
  <%= @table.mnemonic %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.routine_number') %>:</strong>
  <%= @table.routine_number %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.master_base') %>:</strong>
  <%= @table.master_base %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.hive_table') %>:</strong>
  <%= @table.hive_table %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.big_data_routine_name') %>:</strong>
  <%= @table.big_data_routine_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.output_routine_name') %>:</strong>
  <%= @table.output_routine_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.ziptrans_routine_name') %>:</strong>
  <%= @table.ziptrans_routine_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.mirror_data_stage_routine_name') %>:</strong>
  <%= @table.mirror_data_stage_routine_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.final_data_stage_routine_name') %>:</strong>
  <%= @table.final_data_stage_routine_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.table.room_2_notes') %>:</strong>
  <%= @table.room_2_notes %>
</p>

<%= link_to t('edit'), edit_table_path(@table) %> |
<%= link_to t('back'), tables_path %>

