<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> proibiram essa campanha de ser salva:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ident %><br>
    <%= f.number_field :ident %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :created_in_sprint %><br>
    <%= f.number_field :created_in_sprint %>
  </div>
  <div class="field">
    <%= f.label :updated_in_sprint %><br>
    <%= f.number_field :updated_in_sprint %>
  </div>
  <div class="field">
    <%= f.label :campaign_origin %><br>
    <%= f.text_field :campaign_origin %>
  </div>
  <div class="field">
    <%= f.label :channel %><br>
    <%= f.text_field :channel %>
  </div>
  <div class="field">
    <%= f.label :communication_channel %><br>
    <%= f.text_field :communication_channel %>
  </div>
  <div class="field">
    <%= f.label :product %><br>
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :criterion %><br>
    <%= f.text_field :criterion %>
  </div>
  <div class="field">
    <%= f.label :exists_in_legacy %><br>
    <%= f.text_field :exists_in_legacy %>
  </div>
  <div class="field">
    <%= f.label :automatic_routine %><br>
    <%= f.text_field :automatic_routine %>
  </div>
  <div class="field">
    <%= f.label :factory_criterion_status %><br>
    <%= f.text_field :factory_criterion_status %>
  </div>
  <div class="field">
    <%= f.label :prioritized_variables_qty %><br>
    <%= f.number_field :prioritized_variables_qty %>
  </div>
  <div class="field">
    <%= f.label :complied_variables_qty %><br>
    <%= f.number_field :complied_variables_qty %>
  </div>
  <div class="field">
    <%= f.label :process_type %><br>
    <%= f.text_field :process_type %>
  </div>
  <div class="field">
    <%= f.label :crm_room_suggestion %><br>
    <%= f.text_field :crm_room_suggestion %>
  </div>
  <div class="field">
    <%= f.label :it_status %><br>
    <%= f.text_field :it_status %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
