<a name="forms-construido" class="link-ancora"></a>
<section>
  <h3 class="line-bottom">Cadastro de <span class="destaque"><%= Campaign.model_name.human.capitalize %></span></h3>

  <%= form_for @campaign do |f| %>
    <% if @campaign.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@campaign.errors.count, "error") %> proibiram essa campanha de ser salva:</h2>
        <ul>
          <% @campaign.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>

      <legend></legend>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :ident %>
          <%= f.text_field :ident %>
        </div>
        <div class="left t1">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :created_in_sprint %>
          <%= f.text_field :created_in_sprint %>
        </div>
        <div class="left t8">
          <%= f.label :updated_in_sprint %>
          <%= f.text_field :updated_in_sprint %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t1">
          <%= f.label :campaign_origin %>
          <%= f.text_field :campaign_origin %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t1">
          <%= f.label :channel %>
          <%= f.text_field :channel %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :priority %>
          <%= f.text_field :priority %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t1">
          <%= f.label :communication_channel %>
          <%= f.text_field :communication_channel %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t1">
          <%= f.label :product %>
          <%= f.text_field :product %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :description %>
          <%= f.text_area :description, rows: 5 %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :criterion %>
          <%= f.text_area :criterion, rows: 5 %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :exists_in_legacy %>
          <%= f.select(:exists_in_legacy,  ["Sim", "Não"], {:include_blank => 'Selecione'} ) %>
        </div>
        <div class="left t4">
          <%= f.label :automatic_routine %>
          <%= f.text_field :automatic_routine %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :factory_criterion_status %>
          <%= f.select(:factory_criterion_status,  ["Ok", "Pendente",""], {:include_blank => 'Selecione'}) %>
        </div>
        <div class="left t7">
          <%= f.label :process_type %>
          <%= f.select(:process_type,  ["Automático", "DBM", "Gestor", "Manual", ""], {:include_blank => 'Selecione'}) %>
        </div>
      </div>


      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :crm_room_suggestion %>
          <%= f.text_area :crm_room_suggestion, rows: 5  %>
        </div>
        <div class="left t1">
          <%= f.label :it_status %>
          <%= f.text_field :it_status %>
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t6">
          <%= f.label :notes %>
          <%= f.text_area :notes, rows: 5 %>
        </div>
        <div class="left t2">
          <%= f.label :owner %>
          <%= f.text_field :owner %>
        </div>
      </div>

      <%= render 'variables_form' %>

    </fieldset>

    <section>
      <div class="botoes clearfix">
        <div class="row clearfix">
          <% if @campaign.new_record? %>
            <%= f.submit "Salvar" %>
          <% else %>
            <% if @campaign.status == Constants::STATUS[:SALA1] %>
              <%= f.submit "Salvar" %>
              <%= f.button "Finalizar", name: 'update_status', value: Constants::STATUS[:PRODUCAO] %>
            <% end %>
            <% if @campaign.status == Constants::STATUS[:PRODUCAO] %>
              <%= f.button "Reabrir", name: 'update_status', value: Constants::STATUS[:SALA1] %>
            <% end %>
          <% end %>
          <%= link_to t('back'), root_path({ status: "campaign" } ) %>
        </div>
      </div>
    </section>
  <% end %>
</section>
