<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.campaign.ident') %>:</strong>
  <%= @campaign.ident %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.name') %>:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.priority') %>:</strong>
  <%= @campaign.priority %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.created_in_sprint') %>:</strong>
  <%= @campaign.created_in_sprint %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.updated_in_sprint') %>:</strong>
  <%= @campaign.updated_in_sprint %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.campaign_origin') %>:</strong>
  <%= @campaign.campaign_origin %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.channel') %>:</strong>
  <%= @campaign.channel %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.communication_channel') %>:</strong>
  <%= @campaign.communication_channel %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.product') %>:</strong>
  <%= @campaign.product %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.description') %>:</strong>
  <%= @campaign.description %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.criterion') %>:</strong>
  <%= @campaign.criterion %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.exists_in_legacy') %>:</strong>
  <%= @campaign.exists_in_legacy %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.automatic_routine') %>:</strong>
  <%= @campaign.automatic_routine %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.factory_criterion_status') %>:</strong>
  <%= @campaign.factory_criterion_status %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.prioritized_variables_qty') %>:</strong>
  <%= @campaign.prioritized_variables_qty %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.complied_variables_qty') %>:</strong>
  <%= @campaign.complied_variables_qty %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.process_type') %>:</strong>
  <%= @campaign.process_type %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.crm_room_suggestion') %>:</strong>
  <%= @campaign.crm_room_suggestion %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.it_status') %>:</strong>
  <%= @campaign.it_status %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campaign.notes') %>:</strong>
  <%= @campaign.notes %>
</p>

<%= link_to t('edit'), edit_campaign_path(@campaign) %> |
<%= link_to t('back'), campaigns_path %>
