<section class="formulario">
  <% if @current_user.room1? %>
    <h3 class="line-bottom">>>> Selecione abaixo os <span class="destaque"><%= OriginField.model_name.human.capitalize.pluralize %></span> para a <%= Variable.model_name.human.capitalize %></h3>
    <fieldset>
      <div class="row clearfix">
        <input id="variable_id"            type="hidden" value="<%= @variable.id %>">
        </input>
        <input id="variable_origin_fields" type="hidden" value="|" name="origin_field_ids[]">
        </input>
      </div>
    </fieldset>
  <% else %>
    <h3 class="line-bottom"><span class="destaque"><%= OriginField.model_name.human.capitalize.pluralize %></span> para a <%= Variable.model_name.human.capitalize %></h3>
    <fieldset>
      <div class="row clearfix">
        <% if @variable.origin_fields.size > 0 %>
          <ul>
            <% @variable.origin_fields.each do |field| %>
              <li><%= truncate("#{field.origin.file_name}:#{field.field_name}") %></li>
            <% end %>
          </ul>
        <% else %>
          <ul>
            <li>Nenhum campo de origem encontrado!</li>
          </ul>
        <% end %>
      </div>
    </fieldset>
  <% end %>
</section>
