<section class="main">
  <div class="row clearfix">
    <div class="col13" role="main">
      <div class="modulo">
        <section class="formulario">
          <h3 class="line-bottom">Variáveis</h3>
          <fieldset>
            <legend></legend>
            <%= form_tag(search_variable_path,  method: :get ) do  %>
              <div class="row clearfix">
                <div class='left t4'>
                  <%= text_field_tag 'text_param', params[:text_param] || '' %>
                </div>
                <div class="left t10">
                  <label class="custom-select"><%= select_tag "status_param", options_for_select(Constants::STATUS, params[:status_param] || nil), prompt: 'Todos' %></label>
                </div>
                <div class="left btn btn-primary">
                  <%= submit_tag "Filtrar" %>
                </div>
              </div>
            <% end %>
          </fieldset>
          <section>
            <table summary="" class="tabela-zebra tabela-hover">
              <thead>
                <tr class="txt-no-transform">
                  <th>nome</th>
                  <th>campo modelo</td>
                  <th>periodicidade atualização SAS</td>
                  <th>sprint criado</td>
                  <th>sprint alterado</td>
                  <th>tipo</td>
                  <th>responsável</td>
                  <th>status</td>
                </tr>
              </thead>
              <tbody>
                <% @variables.each do |variable| %>
                  <tr>
                    <td><%= variable.name %></td>
                    <td><%= variable.model_field_name %></td>
                    <td><%= variable.sas_update_periodicity %></td>
                    <td><%= variable.created_in_sprint %></td>
                    <td><%= variable.updated_in_sprint %></td>
                    <td><%= variable.variable_type %></td>
                    <td><%= variable.owner %></td>
                    <td><%= variable.status %></td>
                    <td><%= link_to t('edit'), edit_variable_path(variable) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table> <!-- summary="" class="tabela-zebra tabela-hover" -->
            <div>
              <%= will_paginate @variables %>
            </div>
          </section> <!-- grid section -->
        </section> <!-- formulario -->
      </div> <!-- modulo -->
    </div> <!-- col -->
  </div> <!-- row clearfix -->
</section> <!-- main -->

