<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.variable.name') %> %>:</strong>
  <%= @variable.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.sas_variable_def') %>:</strong>
  <%= @variable.sas_variable_def %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.sas_variable_domain') %>:</strong>
  <%= @variable.sas_variable_domain %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.created_in_sprint') %>:</strong>
  <%= @variable.created_in_sprint %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.updated_in_sprint') %>:</strong>
  <%= @variable.updated_in_sprint %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.sas_data_model_status') %>:</strong>
  <%= @variable.sas_data_model_status %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.drs_bi_diagram_name') %>:</strong>
  <%= @variable.drs_bi_diagram_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.drs_variable_status') %>:</strong>
  <%= @variable.drs_variable_status %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.room_1_notes') %>:</strong>
  <%= @variable.room_1_notes %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.physical_model_name_field') %>:</strong>
  <%= @variable.physical_model_name_field %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.width_variable') %>:</strong>
  <%= @variable.width_variable %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.decimal_variable') %>:</strong>
  <%= @variable.decimal_variable %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.default_value') %>:</strong>
  <%= @variable.default_value %>
</p>

<p>
  <strong><%= t('activerecord.attributes.variable.room_2_notes') %>:</strong>
  <%= @variable.room_2_notes %>
</p>

<%= link_to t('edit'), edit_variable_path(@variable) %> |
<%= link_to t('back'), variables_path %>
