<!-- start Header e Menu -->
<a name="top" class="link-ancora"></a>
<header class="clearfix">
  <section class="container">
    <section class="content-main header" role="banner">
      <div class="logo left"><img src=<%= asset_path("logo-itau-mini.png")%> alt="Logo Itaú" /></div>
      <% if @current_user %>
        <!-- %= render 'layouts/header_menu_busca' % -->
        <%= render 'layouts/header_sair' %>
        <%= render 'layouts/header_ico_config_left' %>
        <%= render 'layouts/header_menu_dados_usuarios' %>
        <!-- %= render 'layouts/header_30h' % -->
      <% end %>
    </section> <!-- containt main reader -->
    <nav class="menu" role="navigation">
      <ul class="itens">
        <%= content_tag :li, link_to('Home', root_path),  class: "mnu" %>
      </ul>
    </nav>
  </section><!-- container -->
</header>
<!-- end Header e Menu -->

