<!DOCTYPE html>
<html>
  <head>
    <title>VariablesApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <div>
        <div>
          <div class="nav-collapse">
            <% if @current_user %>
              <div>
                <%= link_to 'Campanhas', campaigns_path %> |
                <%= link_to 'Origens', origins_path %> |
                <%= link_to 'Origens Campos', origin_fields_path %> |
                <%= link_to 'Processos', processids_path %> |
                <%= link_to 'Tabelas', tables_path %> |
                <%= link_to 'Variáveis', variables_path %>
                <% if @current_user.admin? %>
                  <%= link_to "Usuários", users_path %>
                <% end %>
              </div>
              <div align="right">
                <%= link_to @current_user.name, edit_user_path(@current_user) %>
                <%= link_to "Alterar senha", password_path %> |
                <%= link_to "Sair", logout_path %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><%= link_to @current_user.name, users_path %> <span class="divider">/</span></li>
        <li><b><%= t("activerecord.models.#{controller_name.singularize.downcase}.other") %></b></li>
      </ul>
      <%= yield %>
    </div>
    <footer>
      <div>
        <br/>
        <p> </p>
      </div>
    </footer>
  </body>
</html>
